.aside {
  height: 100%;
  background-color: #f2f2f2;
  border-bottom: 2px solid #d5d5d5;
  border-right: 2px solid #d5d5d5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: rem(70);
}
@media (min-width: rem(760.98)) {
  .aside {
    display: none;
  }
}